<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="WFLOG RSS Feed" href="index.xml" />
    <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/3fed911ae9175eaf6c4e4ec51de7e6ac?size=125">
  </head>
  <body style="max-width: 40em">

    <h1 style="font-size:bigger">{{.Title}}</h1>
    <div class="content">
      {{ .Content }}
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
</body>
</html>
